@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
}

.header__container {
  font-family: "Cairo", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  height: 700vh;
  .header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .header__nav__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      span {
        margin: 8em 0em;
      }
      h3 {
        writing-mode: vertical-rl;
        font-size: 1.4em;
        font-weight: 400;
      }
    }
  }
  .header__nav__box:first-child {
    background-color: #5ea3ec;
    height: 100vh;
  }
  .header__nav__box:nth-child(2) {
    background-color: #f64444;
    height: 100vh;
  }
  .header__nav__box:last-child {
    background-color: #ffb400;
    height: 100vh;
  }
}
.nav__box--1 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.9s;
}
.nav__box--2 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.nav__box--3 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.05s;
}

@keyframes slidedown {
  50% {
    transform: translateY(-45em);
  }

  100% {
    transform: translateY(0);
  }
}

main {
  height: 700h;
}
.main__first {
  width: auto;
  height: 100vh;
  padding: 4em 3em;
  .intro__container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .intro__box__logo {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.1em solid black;
    position: fixed;
  }
  .intro__box__text {
    font-size: 5em;
    margin-top: 2em;
    width: 75%;
    line-height: 1.1;
    font-weight: 400;
  }
}

.main__second {
  width: 85%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1566954979172-eaba308acdf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  background-position: center;
  transition: transform 1s, opacity 1s;
}

.main__third {
  width: 85%;
  height: 140vh;
  padding: 4em 3em;

  .third__title {
    font-style: oblique;
    font-size: 6em;
    width: 60%;
    text-transform: uppercase;
  }
}

.third__boxes {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-template-rows: 60vh;
  p {
    font-family: "Cairo", sans-serif;
    font-size: 0.9em;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}
.third__box {
  display: flex;
  flex-direction: column;
  background-color: red;

  &:first-child {
    background-image: url("https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-size: cover;
    background-position: center;
    transition: transform 1s, opacity 1s;
  }

  &:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1589834390005-5d4fb9bf3d32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-size: cover;
    background-position: center;
    transition: transform 1s, opacity 1s;
  }

  &:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1487798452839-c748a707a6b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
    transition: transform 1s, opacity 1s;
  }
}

.active {
  // animation: fadeIn 4s ease-in-out;
  opacity: 0;

  transform: translateY(8rem);
}

.active2 {
  opacity: 0;
  transform: translateY(8rem);
}

.main__fourth {
  width: 85%;
  height: 100vh;
  padding: 0 2em;
  display: flex;
  justify-content: center;
}

.fourth__container {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  text-align: center;
  align-items: center;
  h2 {
    font-size: 3em;
    font-weight: 600;
  }
  h1 {
    font-size: 6em;
    margin: 0em 1em;
    font-style: italic;
    font-weight: 540;
  }
}

.h3 {
  transition: opacity 0.4s;
}

.main__fifth {
  width: 85%;
  height: 100vh;
  padding: 2em 3em;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
.fifth__container {
  // max-width: 60%;
  width: 95%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main__slides {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: transform 1s, opacity 2s;
}

.main__slides--active {
  transform: translateY(8em);
  opacity: 0;
}
.main__slide {
  position: absolute;
  // max-width: 100%;
  transition: transform 1s;
  // position: relative;
}

.slide--1 {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1558473432-44de272549cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
  background-position: center;
  background-size: cover;
  position: relative;
}

.slide--2 {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1517137708685-c42f99521535?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80");
  background-position: center;
  background-size: cover;
}

.slide--3 {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1617339860293-8c1b58e7c4ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
}

.slide--4 {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1556360853-b581cf3c8eb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
  background-position: center;
  background-size: cover;
}

.btn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
  opacity: 0.5;
  color: black;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__right {
  position: absolute;
  z-index: 50;
  right: 350px;
}

.btn__left {
  position: absolute;
  z-index: 50;
  left: 150px;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3570px;
}

.dots__dot {
  width: 12px;
  height: 12px;
  background-color: gainsboro;
  opacity: 0.4;
  border: none;
  border-radius: 50%;
  &:not(last-child) {
    margin-right: 7px;
  }
}

.dots__dot--active {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 1;
  border: none;
  border-radius: 50%;
}

.main__sixth {
  width: 85%;
  height: 70vh;
  margin-top: 4rem;
  padding: 4em 3em;
}

.sixth__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;

  justify-content: space-between;
}

.six__box {
  border: 0.05em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  h2 {
    font-size: 50px;
    width: 60%;
    text-align: center;
    font-style: italic;
  }
}

.customPopup {
  font-size: 0.8rem;
  font-style: italic;
}

.sixth__modal {
  width: 30rem;
  height: 30rem;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.hidden__modal {
  display: none;
}
.modal__modal {
  width: 20rem;
  height: 20rem;
  border: 0.05rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    font-size: 1.4rem;
  }
}

.sixth__modal--x {
  align-self: flex-end;
  margin-right: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  justify-self: flex-start;
  position: absolute;
  top: 1.4rem;
  cursor: pointer;
}

.main__seventh {
  width: 85%;
  height: 50vh;
  padding: 4em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-style: italic;
  }
}
.seventh__box--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.incoming__button {
  margin-top: 3rem;
  padding: 1rem 3.5rem;
  background-color: white;
  border: 0.05em solid black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: white;
    background-color: black;
  }
}

.footer {
  width: 85%;
  height: 70vh;
  padding: 2.4em 3em;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__box--1 {
  margin-top: 2rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 15rem;
}

.footer__sns {
  border: 0.05em solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer__icon {
    font-size: 1.4rem;
  }
  span {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    width: 28%;
    text-align: center;
    font-style: italic;
  }
}

.footer__box--2 {
  margin-top: 3.5rem;
  padding: 2rem 1.5rem;
  border: 0.05em solid black;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  h1 {
    width: 50%;
    font-size: 1.6rem;
    font-style: italic;
    line-height: 0.9;
  }
  input {
    padding: 0 1rem;
    outline: none;
    border: 0.05em solid black;
    &::placeholder {
      color: black;
    }
  }
}
.footer__box--3 {
  margin-top: 2.5rem;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1.6fr 1fr 2fr 1fr;
  span {
    font-size: 0.9rem;
  }
  span:nth-child(2),
  span:nth-child(3) {
    text-decoration: underline;
    text-underline-position: under;
  }
  span:last-child span {
    text-decoration: line-through;
  }
}
