@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Lora&display=swap");

* {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Bitter", serif;
  font-weight: 200;
  position: relative;
}

main {
  margin-left: 13rem;
}
.header__container {
  font-family: "Cairo", sans-serif;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 15%;
  height: 700vh;
  .header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .header__nav__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      span {
        margin: 8rem 0rem;
        font-size: 1rem;
        @media only screen and (max-width: 1300px) {
          font-size: 0.9rem;
        }
      }
      h3 {
        cursor: pointer;
        writing-mode: vertical-rl;
        font-size: 1.4rem;
        font-weight: 400;
        @media only screen and (max-width: 1300px) {
          font-size: 1.2rem;
        }
        @media only screen and (max-width: 1100px) {
          font-size: 1rem;
        }
      }
    }
  }
  .header__nav__box:first-child {
    height: 100vh;

    background-color: #ffb142;
  }
  .header__nav__box:nth-child(2) {
    background-color: #227093;
    height: 100vh;
  }
  .header__nav__box:last-child {
    height: 100vh;
    background-color: #1e272e;
    background-color: #b33939;
  }
}
.nav__box--1 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.9s;
}
.nav__box--2 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.nav__box--3 {
  transform: translateY(-90em);
  animation: slidedown 2s ease-in-out forwards;
  animation-delay: 0.05s;
}

@keyframes slidedown {
  50% {
    transform: translateY(-45em);
  }

  100% {
    transform: translateY(0);
  }
}

.main__first {
  width: auto;
  height: 100vh;
  padding: 4rem 4rem;
  @media only screen and (max-width: 1100px) {
    padding: 3rem 3rem;
  }
  .intro__container {
    width: auto;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1300px) {
      width: 80%;
    }
  }

  .intro__box__text {
    font-size: 2.5rem;
    margin-top: 9rem;
    width: 90%;
    line-height: 1.3;
    font-weight: 400;
    z-index: 1;
    font-family: "Bitter", serif;
    font-weight: 200;
    line-height: 1.3;
    letter-spacing: 1.4;
    @media only screen and (max-width: 1500px) {
      font-size: 3.4rem;
    }
    @media only screen and (max-width: 1300px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 1100px) {
      font-size: 2.6rem;
    }
  }
}

.main__second {
  width: 100%;
  height: 100vh;
  padding: 0 4rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-top: 1px solid black;
  background-size: cover;
  background-position: center;
  transition: transform 1s, opacity 1s;
  position: relative;
  .main__polygon {
    position: absolute;
    top: -10px;
    left: 120px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .main__text h1 {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}

.traces__container {
  margin-left: 1rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 20fr;
  grid-auto-rows: 1fr;
}
.traces__infos {
  margin-bottom: 1.6rem;
  width: 100%;
}

.traces__circle {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
}
.traces__box {
  position: relative;
  .traces__line {
    position: absolute;
    top: 15px;
    left: 7px;
    height: 5rem;
    width: 1px;
    background-color: black;
  }
}
.traces__box:nth-child(2),
.traces__box:nth-child(3),
.traces__box:nth-child(4),
.traces__box:last-child {
  margin-top: 5rem;
}
.traces__summary {
  display: flex;
  align-items: flex-end;

  h5 {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  span {
    font-size: 0.9rem;
  }
}

.traces__main {
  margin-top: 1rem;
  p {
    font-size: 0.9rem;
    line-height: 1.2;
    width: 90%;
  }
}

.main__fourth {
  width: 100%;
  height: 50vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.fourth__container {
  padding: 1rem 3rem;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  text-align: center;
  align-items: center;
  h2 {
    font-size: 3rem;
    font-weight: 100;
  }
  h1 {
    font-size: 4rem;
    margin: 0rem 1rem;
    font-style: italic;
    font-weight: 100;
  }
}

.h3 {
  transition: opacity 0.4s;
}

.main__fifth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
.fifth__container {
  width: 90%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main__slides {
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: transform 1s, opacity 2s;
}

.main__slides--active {
  transform: translateY(8em);
  opacity: 0;
}
.main__slide {
  position: absolute;
  // max-width: 100%;
  transition: transform 1s;
  // position: relative;
}

.slide--1 {
  width: 100%;
  height: 80vh;
  background-image: url("https://media.vlpt.us/images/chaton/post/288120d4-4683-49e1-975d-3a9f6b928d02/Hnet-image%20(11).gif");
  background-position: center;
  background-size: cover;
  position: relative;
}

.slide--2 {
  width: 100%;
  height: 80vh;
  background-image: url("https://media.vlpt.us/images/chaton/post/b5411e48-f90e-4811-acbd-01aaedb70eb7/Hnet-image%20(6).gif");
  background-position: center;
  background-size: cover;
}

.slide--3 {
  width: 100%;
  height: 80vh;
  background-image: url("https://media.vlpt.us/images/chaton/post/efb010b7-eba2-4cfb-b770-94f2bcdd792e/Hnet-image%20(12).gif");
  background-position: center;
  background-size: cover;
}

.slide--4 {
  width: 100%;
  height: 80vh;
  background-image: url("https://media.vlpt.us/images/chaton/post/cbab65c8-e674-497d-ae99-78b60aa22488/Hnet-image%20(9).gif");
  background-position: center;
  background-size: cover;
}

.btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 10px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
  opacity: 0.5;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__right {
  position: absolute;
  z-index: 50;
  right: 150px;
}

.btn__left {
  position: absolute;
  z-index: 50;
  left: 350px;
}

.main__sixth {
  width: 100%;
  height: 70vh;
  margin-top: 4rem;
  padding: 4rem 6rem;
  margin-left: 4rem;
}

.sixth__container {
  display: grid;
  padding: 4rem 3rem;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  justify-content: space-between;
}

.six__box {
  border: 0.05rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-style: italic;
  }
}

.customPopup {
  font-size: 0.8rem;
  font-style: italic;
}

.sixth__modal {
  width: 30rem;
  height: 30rem;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.hidden__modal {
  display: none;
}
.modal__modal {
  width: 20rem;
  height: 20rem;
  border: 0.05rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    font-size: 1.4rem;
  }
}

.sixth__modal--x {
  align-self: flex-end;
  margin-right: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  justify-self: flex-start;
  position: absolute;
  top: 1.4rem;
  cursor: pointer;
}

.main__seventh {
  width: 100%;
  height: 50vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 3rem;
    font-style: italic;
    span {
      border-bottom: 0.05rem solid black;
    }
  }
}
.seventh__box--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.incoming__button {
  margin-top: 4rem;
  padding: 1rem 3rem;
  background-color: white;
  border: 0.05rem solid black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 0.9rem;
  &:hover {
    color: white;
    background-color: black;
  }
}
.incoming__button a:link,
.incoming__button a:visited {
  color: inherit;
  text-decoration: none;
}

.footer {
  width: 80%;
  height: 70vh;
  padding: 4rem 3rem;
  margin-left: 15rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__box--1 {
  margin-top: 2rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 13rem;
}

.footer__sns {
  border: 0.05rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer__icon {
    font-size: 1.5rem;
  }
  span {
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 35%;
    text-align: center;

    line-height: 1.4;
    a:link,
    a:visited {
      color: black;
      text-decoration: none;
    }
  }
}

.footer__box--2 {
  margin-top: 3.5rem;
  padding: 2rem 1.5rem;
  border: 0.05rem solid black;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  h1 {
    width: 50%;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.4;
  }
  input {
    padding: 1.2rem;
    outline: none;
    border: 0.05rem solid black;
    &::placeholder {
      color: black;
      font-size: 0.8rem;
    }
  }
}
.footer__box--3 {
  margin-top: 5rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-auto-rows: 50px;
  .footer__box--copy {
    width: 80%;
    line-height: 1.2;
  }
  span {
    font-size: 0.9rem;
  }

  span:nth-child(2),
  span:nth-child(3) {
    text-decoration: underline;
    text-underline-position: under;
  }
  span:last-child span {
    text-decoration: line-through;
  }
}
